<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:0;">
  <div class="container-fluid" style="display: flex; justify-content: left; align-items: center;">
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/book-logo.avif"
        alt="Avatar Logo"
        style="width: 40px"
        class="rounded-pill"
      />
    </a>
    <h1 class="mt-3" style="font-size: larger;"  style="color: white;" >{{ title }}</h1>
  </div>
</nav>
<div class="main_body">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="position-absolute top-50 start-50 translate-middle">
        <a routerLink="/login"><button class="btn btn-primary me-3">Login</button></a>
        <a routerLink="/signUp"><button class="btn btn-primary">sign Up</button></a>
      </div>
    </div>
    
  </div>
  
</div>
